.review_bullet {
  width: 10px;
  height: 10px;
  background-color: #d9d9d9;
  border-radius: 50%;
}
.review_bullet:not(:last-child) {
  margin-right: 8px;
}
.review_active-bullet {
  width: 14px;
  height: 14px;
  background-color: #284264;
  border-radius: 50%;
}
.review_active-bullet:not(:last-child) {
  margin-right: 8px;
}
@media (max-width: 1200px) and (min-width: 768px) {
  .review_bullet {
    width: 14px;
    height: 14px;
  }
  .review_bullet:not(:last-child) {
    margin-right: 12px;
  }
  .review_active-bullet {
    width: 20px;
    height: 20px;
  }
  .review_active-bullet:not(:last-child) {
    margin-right: 12px;
  }
}

@media (min-width: 1200px) {
  .review_bullet {
    width: 18px;
    height: 18px;
  }
  .review_bullet:not(:last-child) {
    margin-right: 15px;
  }
  .review_active-bullet {
    width: 24px;
    height: 24px;
  }
  .review_active-bullet:not(:last-child) {
    margin-right: 15px;
  }
}
