.review_bullet{
    width: 10px;
    height: 10px;
    background-color: #D9D9D9;
    border-radius: 50%;
}
.review_bullet:not(:last-child){
    margin-right: 8px;
}
.review_active-bullet{
    width: 14px;
    height: 14px;
    background-color: #284264;
    border-radius: 50%;
}
.review_active-bullet:not(:last-child){
    margin-right: 8px;
}